@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@* Summary Widgets *@
<div class="row-mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-colum justify-content-center p-5">
                <i class="fa-solid fa-ruble-sign fa-2xl"></i>
            </div>

            <div class="d-flex flex-colum m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-colum justify-content-center p-5">
                <i class="fa-solid fa-ruble-sign fa-2xl"></i>
            </div>

            <div class="d-flex flex-colum m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-colum justify-content-center p-5">
                <i class="fa-solid fa-ruble-sign fa-2xl"></i>
            </div>

            <div class="d-flex flex-colum m-auto py-3">
                <span class="lead">Balance</span>
                <h1 class="display-6 fw-bold">@ViewBag.Balance</h1>
            </div>
        </div>
    </div>
</div>

@* Donut chart *@
<div class="col-mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Expense By Category</h5>
            </div>
            <ejs-accumulationchart id="donutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DonutChart" innerRadius="60%" name="Expense"
                                           xName="CategoryTitleWithIcon" yName="Amount" legendShape="Circle">

                        <e-accumulationseries-datalabel name="LabelText" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
    @* Spline chart *@
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Cash flow</h5>
            </div>
            <ejs-chart id="splinechart" background="#1a222b">
                <e-chart-primaryxaxis valuetype="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>

                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryyaxis>

                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>

                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChart" xName="Day" yName="Income" width="2"
                              name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChart" xName="Day" yName="Expense" width="2"
                              name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
</div>